:root {
    --brand-color-blue: #2196f3;
    --brand-color-gray: #2f303a;
    --brand-color-titles: #212121;
    --brand-color-gray-light: #757575;
    --brand-color-white: #fff;
    --brand-color-black: #000;
    --brand-color-whisper: #eee;
    --brand-color-ghost: #f5f4fa;
    --brand-icon-color: #afb1b8;
    --brand-font-weight: 500;
    --brand-letter-spacing: 0.06em;
  }
